{% extends "core/base.html" %}


{% block title %} Dashboard {% endblock title %}




{% block content %}
<div class="px-12 py-6 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center ">Dashboard</h2>
    {% if items %}
    <div class= "grid grid-cols-3 gap-3">   
        {% for item in items %}
        <div class = "p-6 bg-white rounded-b-xl ">
            <a href="{% url 'item:detail' item.id %}">
                <div>
                    <img src="{{item.image.url}}" class = "rounded-t-xl">

                </div>

                <div class = "p-6 bg-white rounded-b-xl ">
                    <h2 class="text-2xl" >{{item.name}}</h2>
                    <h2 class="text-gray-500" > Price:{{item.price}} $</h2>
                </div>
            </a>
        </div>
        {% endfor %}

    </div>
    {% else %}
    <h2 class ="p-6 text-2xl text-center bg-gray-400 rounded-xl ">No have item.İf u want make item <a class = " text-red-500 hover:text-gray-500" href="{% url 'item:new' %}" >Click</a></h2>
    {% endif %}
</div>





{% endblock content %}